<html>

<head>
    <title>Kilem Editor</title>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,viewport-fit=cover">
    <link rel="shortcut icon" href="/public/logo/logo.png" type="image/x-icon">
    
    <script src="/public/js/plugin/jquery-min-3.5.1.js"></script>
    <script src="/public/js/plugin/jquery-min-ui-1.11.4.js"></script>
    <script src="/public/js/plugin/sweet-alert.js"></script>
    <script src="/public/js/plugin/tonejs-midi.js"></script>
    <script src="/public/js/plugin/fontawesome.js" crossorigin="anonymous"></script>
    <script src="/public/js/plugin/xss.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <link href="/public/css/plugin/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/plugin/sweet-alert.css">
    <link href="/public/css/editor/editor.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/track.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/midiPanel.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/chat.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/status.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/select.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/editor/tooltip.css">
    
    <script src="/public/js/util/lib.js"></script>
</head>

<body>
    <main class="main">
        <div class="editor">
            <header class="editor-header">
                <div class="editor-title">
                    <div class="file-title"><i data-title="change filename" class="far fa-folder"></i><input
                            id="filename" value="" disabled maxlength="15"></input></div>
                    <div class="room-title" data-title="roomname" maxlength="10"><span id="roomname"></span></div>
                    <div id="exit" data-title="exit" class="exit icon-container"><span>Exit</span> <i
                            class="fas fa-sign-out-alt"></i></div>
                </div>
                <div class="editor-toolbox">
                    <div class="toolbox-menu">
                        <button id="export" data-title="Export midi file" class="toolbox-export tool icon-container"><i
                                class="fas fa-file-export"></i>&nbsp;<span>Export</span></button>
                        <div class="tool icon-container" data-title="Change song's bpm"><i
                                class="fas fa-edit"></i><input id="bpm" type="number" min="60" max="200"
                                class="bpm-edit" disabled></input><span>Bpm</span></div>
                        <div id="invite" data-title="Invite freinds with URL"
                            class="toolbox-invite tool icon-container"><i class="fa fa-clone"
                                aria-hidden="true"></i>&nbsp;<span>Invite</span></div>
                    </div>
                </div>
            </header>
            <section class="editor-body">
                <div class="tracks-title">
                    <div class="tracks-control">
                        <div id="addTrack" data-title="Add track" class="add-track icon-container"><i
                                class="fas fa-plus-square fa-lg"></i></div>
                        <div id="deleteTrack" data-title="Remove track" class="delete-track icon-container"><i
                                class="fas fa-trash-alt fa-lg"></i></div>
                    </div>
                    <div id="tracksContent" class="tracks-content">
                    </div>
                </div>
                <div id="tracksRegion" class="tracks-region">
                    <div id="ruler" class="ruler">
                        <div id="rulerTitle" class="ruler-title">
                            <div id="rulerScale">
                            </div>
                        </div>
                        <div id="rulerControl" class="ruler-control">
                            <div id="loopControl" class="loop-control inactive">
                                <div class="head"></div>
                                <div class="tail"></div>
                            </div>
                        </div>
                    </div>
                    <div id="regionContent" class="region-content">
                        <div id="regionPlayhead" class="playhead body" style="transform: translateX(0px);">
                            <div class="drag"></div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        </div>
        <section id="midiPanel" class="midi-panel hidden">
            <header class="midi-header">
                <div class="midi-toolbox"><i data-title='Note Length' class="fas fa-ruler-horizontal icon"></i>
                    <div class="border"></div>
                    <div class="note-length midi-tool icon-container" value="0.0625">
                        <img src="/public/img/toolbox/sixteenth-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-length midi-tool icon-container selected" value="0.125">
                        <img src="/public/img/toolbox/eighth-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-length midi-tool icon-container" value="0.25">
                        <img src="/public/img/toolbox/quarter-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-length midi-tool" value="0.5">
                        <img src="/public/img/toolbox/half-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-length midi-tool icon-container" value="1">
                        <div style="height: 50%; width:100%"></div>
                        <div style="height: 35%; width:100%">
                            <img src="/public/img/toolbox/whole-note.svg" class="note-icon"></img>
                        </div>
                    </div>
                </div>
                <div class="midi-toolbox"><i class="fa fa-columns icon" data-title='Note align grid'
                        aria-hidden="true"></i>
                    <div class="border"></div>
                    <div class="note-grid midi-tool" value="0.0625">
                        <img src="/public/img/toolbox/sixteenth-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-grid midi-tool selected" value="0.125">
                        <img src="/public/img/toolbox/eighth-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-grid midi-tool" value="0.25">
                        <img src="/public/img/toolbox/quarter-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-grid midi-tool" value="0.5">
                        <img src="/public/img/toolbox/half-note.svg" class="note-icon"></img>
                    </div>
                    <div class="note-grid midi-tool" value="1">
                        <div style="height: 50%; width:100%"></div>
                        <div style="height: 35%; width:100%">
                            <img src="/public/img/toolbox/whole-note.svg" class="note-icon"></img>
                        </div>
                    </div>
                </div>

                <div id="panelCancel" class="icon-container cancel"><i class="fa fa-times fa-lg" aria-hidden="true"></i>
                </div>
            </header>
            <div class="panel-content">
                <div class="keys-and-grid">
                    <div id="keys" class="keys"></div>
                    <div id="grids" class="grids">
                    </div>
                    <div id="midiPlayhead" class="midi-playhead playhead" style="transform: translateX(0px);">
                        <div class="drag"></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="editor-footer">
            <div id="midiPanelButton" class="midi-panel-button control-button icon-container">
                <i class="fas fa-caret-up"></i>&nbsp;<span>Midi Editor</span></div>
            <div class="footer-midi-control">
                <div id="resetButton" data-title="Reset to loop start"
                    class="reset-button control-button icon-container"><i class="fas fa-step-backward"></i></div>
                <div id="playButton" data-title="Start/Pause" class="play-button control-button icon-container"><i
                        class="fas fa-play"></i></div>
                <div id="stopButton" data-title="Stop" class="stop-button control-button icon-container"><i
                        class="fas fa-stop"></i></div>
                <div id="loopButton" data-title="Looping interval by red bar"
                    class="stop-button control-button icon-container"><i class="fa fa-retweet" aria-hidden="true"></i>
                </div>
            </div>
            <div id="chatButton" data-title="Chat" class="chat-button control-button icon-container"><i
                    class="far fa-comments"></i></div>
        </footer>
        <section id="chatRoom" class="chatroom hidden">
            <div id="chatContainer" class="chat-container">

            </div>
            <div class="chat-input">
                <textarea id="chatInput" class="chat-input-space" type="text"></textarea>
                <button data-title="Send" id="chatSend" class="chat-send-button icon-container"><i
                        class="fas fa-paper-plane"></i></button>
            </div>
        </section>
        <section class="tooltip hidden">
            <span></span>
        </section>
    </main>
</body>

<script src="/public/js/editor/midi.js"></script>
<script src="/public/js/editor/config.js"></script>
<script src="/public/js/editor/socket.js"></script>
<script src="/public/js/editor/load.js"></script>
<script src="/public/js/editor/tracks.js"></script>
<script src="/public/js/editor/cowork.js"></script>
<script src="/public/js/editor/midiPanel.js"></script>
<script src="/public/js/editor/region.js"></script>
<script src="/public/js/editor/instrument.js"></script>
<script src="/public/js/editor/control.js"></script>
<script src="/public/js/editor/chat.js"></script>
<script src="/public/js/editor/note.js"></script>
<script src="/public/js/editor/generate.js"></script>

</html>