<html>

<head>
    <title>Kilem Editor</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,viewport-fit=cover">
    <script src="/public/js/util/jquery-min-3.5.1.js"></script>
    <script src="/public/js/util/jquery-min-ui-1.11.4.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="shortcut icon" href="/public/logo/logo.png" type="image/x-icon">
    <link href="/public/css/util/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/editor.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/track.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/midiPanel.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/chat.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/status.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
</head>

<body>
    <main class="main">
        <div class="editor">
            <header class="editor-header">
                <div class="editor-title">
                    <div class="file-title">Kilem Banzai</div>
                    <div id="exit" class="exit">Exit</div>
                </div>
                <div class="editor-toolbox">Toolbox
                    <div class="toolbox-menu">
                        <div id="save" class="toolbox-save tool">Save</div>
                        <div id="export" class="toolbox-export tool">Export</div>
                    </div>
                </div>
            </header>
            <section class="editor-body">
                <div class="tracks-title">
                    <div class="tracks-control">
                        <div id="addTrack" class="add-track">Add</div>
                        <div id="deleteTrack" class="delete-track">Delete</div>
                    </div>
                    <div id="tracksContent" class="tracks-content">
                    </div>
                </div>
                <div id="tracksRegion" class="tracks-region">
                    <div id="ruler" class="ruler">
                        <div id="rulerTitle" class="ruler-title">
                            <div id="rulerScale">
                            </div>
                        </div>
                        <div id="rulerControl" class="ruler-control">Control</div>
                    </div>
                    <div id="regionContent" class="region-content">
                        <div id="regionPlayhead" class="playhead body" style="transform: translateX(0px);">
                            <div class="drag"></div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        </div>
        <section id="midiPanel" class="midi-panel hidden">
            <header class="midi-header">
                <div class="midi-toolbox">GRID
                    <div class="note-grid midi-tool" value="0.0625">1/16</div>
                    <div class="note-grid midi-tool selected" value="0.125">1/8</div>
                    <div class="note-grid midi-tool" value="0.25">1/4</div>
                    <div class="note-grid midi-tool" value="0.5">1/2</div>
                    <div class="note-grid midi-tool" value="1">1</div>
                </div>
                <div class="midi-toolbox">Length
                    <div class="note-length midi-tool" value="0.0625">1/16</div>
                    <div class="note-length midi-tool selected" value="0.125">1/8</div>
                    <div class="note-length midi-tool" value="0.25">1/4</div>
                    <div class="note-length midi-tool" value="0.5">1/2</div>
                    <div class="note-length midi-tool" value="1">1</div>
                </div>
            </header>
            <div class="panel-content">
                <div class="keys-and-grid">
                    <div id="keys" class="keys"></div>
                    <div id="grids" class="grids">
                    </div>
                    <div id="midiPlayhead" class="midi-playhead playhead" style="transform: translateX(0px);">
                        <div class="drag"></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="editor-footer">
            <div id="midiPanelButton" class="midi-panel-button control-button">Midi Editor</div>
            <div id="playButton" class="play-button control-button">Start</div>
            <div id="stopButton" class="stop-button control-button">Stop</div>
            <div id="resetButton" class="reset-button control-button">Reset</div>
            <div id="chatButton" class="chat-button control-button">Chat</div>
        </footer>
        <section id="chatRoom" class="chatroom hidden">
            <div id="chatContainer" class="chat-container">

            </div>
            <div class="chat-input">
                <input id="chatInput" class="chat-input-space" type="text"></input>
                <button id="chatSend" class="chat-send-button">Send</button>
            </div>
        </section>
    </main>
</body>
<script src="/public/js/editor/Midi.js"></script>
<script src="/public/js/editor/config.js"></script>
<script src="/public/js/util/lib.js"></script>
<script src="/public/js/editor/socket.js"></script>
<script src="/public/js/editor/load.js"></script>
<script src="/public/js/editor/tracks.js"></script>
<script src="/public/js/editor/cowork.js"></script>
<script src="/public/js/editor/midiPanel.js"></script>
<script src="/public/js/editor/region.js"></script>
<script src="/public/js/editor/Instrument.js"></script>
<script src="/public/js/editor/control.js"></script>
<script src="/public/js/editor/chat.js"></script>
<script src="/public/js/editor/note.js"></script>
<script src="/public/js/editor/generate.js"></script>

</html>