<html>

<head>
    <title>Kilem Editor</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,viewport-fit=cover">
    <script src="/public/js/util/jquery-min-3.5.1.js"></script>
    <script src="/public/js/util/jquery-min-ui-1.11.4.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="shortcut icon" href="/public/logo/logo.png" type="image/x-icon">
    <link href="/public/css/util/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/editor.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/track.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/midiPanel.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/chat.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor/status.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/util/sweet-alert.css">
    <script src="/public/js/util/sweet-alert.js"></script>
    <script src="/public/js/util/tonejs-midi.js"></script>
    <script src="https://kit.fontawesome.com/99d77cf260.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="main">
        <div class="editor">
            <header class="editor-header">
                <div class="editor-title">
                    <input id="filename" class="file-title" value="" disabled></input>
                    <div id="exit" class="exit"><i class="fas fa-sign-out-alt"></i></div>
                </div>
                <div class="editor-toolbox">
                    <div class="toolbox-menu">
                        <button id="save" class="toolbox-save tool"><i class="fas fa-save"></i></button>
                        <button id="export" class="toolbox-export tool"><i class="fas fa-file-export"></i></button>
                        <div class="tool"><input id="bpm" class="bpm-edit" disabled><span>Bpm</span></input></div>
                    </div>
                </div>
            </header>
            <section class="editor-body">
                <div class="tracks-title">
                    <div class="tracks-control">
                        <div id="addTrack" class="add-track"><i class="fas fa-plus-square"></i></div>
                        <div id="deleteTrack" class="delete-track"><i class="fas fa-trash-alt"></i></div>
                    </div>
                    <div id="tracksContent" class="tracks-content">
                    </div>
                </div>
                <div id="tracksRegion" class="tracks-region">
                    <div id="ruler" class="ruler">
                        <div id="rulerTitle" class="ruler-title">
                            <div id="rulerScale">
                            </div>
                        </div>
                        <div id="rulerControl" class="ruler-control">
                            <div id="loopControl" class="loop-control inactive">
                                <div class="head"></div>
                                <div class="tail"></div>
                            </div>
                        </div>
                    </div>
                    <div id="regionContent" class="region-content">
                        <div id="regionPlayhead" class="playhead body" style="transform: translateX(0px);">
                            <div class="drag"></div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        </div>
        <section id="midiPanel" class="midi-panel hidden">
            <header class="midi-header">
                <div class="midi-toolbox"><i class="fas fa-border-all"></i>
                    <div class="note-grid midi-tool" value="0.0625">
                        <span>&#x1D161;</span>
                    </div>
                    <div class="note-grid midi-tool selected" value="0.125">
                        <span>&#x1D160;</span>
                    </div>
                    <div class="note-grid midi-tool" value="0.25">
                        <span>&#x1D15F;</span>
                    </div>
                    <div class="note-grid midi-tool" value="0.5">
                        <span>&#x1D15E;</span>
                    </div>
                    <div class="note-grid midi-tool" value="1">
                        <span>&#x1D15D;</span>
                    </div>
                </div>
                <div class="midi-toolbox"><i class="fas fa-ruler-horizontal"></i>
                    <div class="note-length midi-tool" value="0.0625">
                        <span>&#x1D161;</span>
                    </div>
                    <div class="note-length midi-tool selected" value="0.125">
                        <span>&#x1D160;</span>
                    </div>
                    <div class="note-length midi-tool" value="0.25">
                        <span>&#x1D15F;</span>
                    </div>
                    <div class="note-length midi-tool" value="0.5">
                        <span>&#x1D15E;</span>
                    </div>
                    <div class="note-length midi-tool" value="1">
                        <span>&#x1D15D;</span>
                    </div>
                </div>
            </header>
            <div class="panel-content">
                <div class="keys-and-grid">
                    <div id="keys" class="keys"></div>
                    <div id="grids" class="grids">
                    </div>
                    <div id="midiPlayhead" class="midi-playhead playhead" style="transform: translateX(0px);">
                        <div class="drag"></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="editor-footer">
            <div id="midiPanelButton" class="midi-panel-button control-button"><i class="fas fa-edit"></i>Midi</div>
            <div id="resetButton" class="reset-button control-button"><i class="fas fa-step-backward"></i></div>
            <div id="playButton" class="play-button control-button"><i class="fas fa-play"></i></div>
            <div id="stopButton" class="stop-button control-button"><i class="fas fa-stop"></i></div>
            <div id="chatButton" class="chat-button control-button"><i class="far fa-comments"></i></div>
        </footer>
        <section id="chatRoom" class="chatroom hidden">
            <div id="chatContainer" class="chat-container">

            </div>
            <div class="chat-input">
                <input id="chatInput" class="chat-input-space" type="text"></input>
                <button id="chatSend" class="chat-send-button"><i class="fas fa-paper-plane"></i></button>
            </div>
        </section>
    </main>
</body>
<script src="/public/js/editor/Midi.js"></script>
<script src="/public/js/editor/config.js"></script>
<script src="/public/js/util/lib.js"></script>
<script src="/public/js/editor/socket.js"></script>
<script src="/public/js/editor/load.js"></script>
<script src="/public/js/editor/tracks.js"></script>
<script src="/public/js/editor/cowork.js"></script>
<script src="/public/js/editor/midiPanel.js"></script>
<script src="/public/js/editor/region.js"></script>
<script src="/public/js/editor/Instrument.js"></script>
<script src="/public/js/editor/control.js"></script>
<script src="/public/js/editor/chat.js"></script>
<script src="/public/js/editor/note.js"></script>
<script src="/public/js/editor/generate.js"></script>

</html>