<html>

<head>
    <title>Kilem Editor</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,viewport-fit=cover">
    <script src="/public/js/util/jquery-min-3.5.1.js"></script>
    <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor.css" rel="stylesheet" type="text/css">
    <link href="/public/css/midiPanel.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main class="main">
        <div class="editor">
            <header class="editor-header">
                <div class="editor-title">
                    <div class="file-title">Kilem Banzai</div>
                    <div class="exit">Exit</div>
                </div>
                <div class="editor-toolbox">Toolbox
                    <div class="toolbox-menu">
                        <div id="save" class="toolbox-save tool">Save</div>
                    </div>
                </div>
            </header>
            <section class="editor-body">
                <div class="tracks-title">
                    <div class="tracks-control">
                        <div id="addTrack" class="add-track">Add</div>
                        <div id="deleteTrack" class="delete-track">Delete</div>
                    </div>
                    <div id="tracksContent" class="tracks-content">
                    </div>
                </div>
                <div id="tracksRegion" class="tracks-region">
                    <div id="ruler" class="ruler">
                        <div id="rulerTitle" class="ruler-title">
                            <div id="rulerScale">
                            </div>
                        </div>
                        <div id="rulerControl" class="ruler-control">Control</div>
                    </div>
                    <div id="regionContent" class="region-content">
                        <div id="regionPlayhead" class="region-playhead playhead" style="transform: translateX(0px);">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section id="midiPanel" class="midi-panel hidden">
            <header class="midi-header">
                <div class="midi-toolbox">GRID
                    <div class="note-grid midi-tool" value="1/8">1/8</div>
                    <div class="note-grid midi-tool selected" value="1/4">1/4</div>
                </div>
                <div class="midi-toolbox">Length
                    <div class="note-length midi-tool" value="1/8">1/8</div>
                    <div class="note-length midi-tool selected" value="1/4">1/4</div>
                </div>
            </header>
            <div class="panel-content">
                <div class="panel-info">
                    <div id="trackName" class="panel-track-name"></div>
                </div>
                <div class="keys-and-grid">
                    <div id="keys" class="keys"></div>
                    <div id="grids" class="grids">
                    </div>
                    <div id="midiPlayhead" class="midi-playhead playhead" style="transform: translateX(0px);">
                    </div>
                </div>
            </div>
        </section>
        <footer class="editor-footer">
            <div id="midiPanelButton" class="midi-panel-button control-button">Midi Editor</div>
            <div id="playButton" class="control-play-button control-button">Start</div>
            <div id="stopButton" class="control-stop-button control-button">Stop</div>
            <div id="resetButton" class="control-reset-button control-button">Reset</div>
        </footer>
    </main>
</body>
<script src="/public/js/editor/Midi.js"></script>
<script src="/public/js/editor/config.js"></script>
<script src="/public/js/editor/lib.js"></script>
<script src="/public/js/editor/load.js"></script>
<script src="/public/js/editor/tracks.js"></script>
<script src="/public/js/editor/cowork.js"></script>
<script src="/public/js/editor/midiPanel.js"></script>
<script src="/public/js/editor/Instrument.js"></script>
<script src="/public/js/editor/control.js"></script>
<script src="/public/js/editor/toolbox.js"></script>
<script src="/public/js/editor/generate.js"></script>

</html>