<html>

<head>
    <title>Kilem Editor</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,viewport-fit=cover">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/editor.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main class="main">
        <div class="editor">
            <header class="editor-header">
                <div class="editor-title">
                    <div class="file-title">Kilem Banzai</div>
                    <div class="exit">Exit</div>
                </div>
                <div class="editor-toolbox">Toolbox
                    <div class="toolbox-menu">
                        <div class="toolbox-edit selected">Edit</div>
                        <div class="toolbox-eraser">Eraser</div>
                    </div>
                </div>
            </header>
            <section class="editor-body">
                <div class="tracks-title">
                    <div class="tracks-control">
                        <div id="addTrack" class="add-track">Add</div>
                        <div id="deleteTrack" class="delete-track">Delete</div>
                    </div>
                    <div id="tracksContent" class="tracks-content">
                    </div>
                </div>
                <div id="tracksRegion" class="tracks-region">
                    <div id="ruler" class="ruler">
                        <div class="ruler-title">
                            <div id="rulerScale">
                            </div>
                        </div>
                        <div class="ruler-control">Control</div>
                    </div>
                    <div id="regionContent" class="region-content">
                    </div>
                </div>
            </section>
        </div>
        <section class="midi-panel">
            <div>Panel</div>
        </section>
        <footer class="editor-footer">
            <div id="midi-panel-button" class="midi-panel-button">Midi Panel</div>
        </footer>
    </main>
</body>
<script src="/public/js/editor.js"></script>

</html>