<html>

<head>
    <title>Kilem Midi</title>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/logo/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/public/css/util/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/default.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/room.css" rel="stylesheet" type="text/css">
    <script src="/public/js/util/jquery-min-3.5.1.js"></script>
    <link rel="stylesheet" href="/public/css/util/sweet-alert.css">
    <script src="/public/js/util/sweet-alert.js"></script>
    <script src="/public/js/util/xss.js"></script>
</head>

<body>
    <nav class="top-nav">
        <div id="navLogo" class="nav-logo">
            <img src="/public/logo/logo.png" />
            <span>Kilem Midi</span>
        </div>
        <div class="nav-tool">
            <div id="navProfile" class="nav-profile">Hello <span>User</span></div>
            <button id="logOut" class="logout button">Log Out</button>
        </div>
    </nav>
    <main class="wrapper">
        <header class="main-header">
            <div class="container header-content">
                <h1>Welcome</h1>
                <button id="createRoomButton" class="button">Start a Room</button>
            </div>
        </header>
        <main class="main-content container">
            <section id="publicRooms">
                <div class="rooms-head">
                    <h3>Public Room</h3>
                    <div class="search"><input id="search" placeholder="search keyword" autocomplete="off"></input>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="rooms">
                    <div class="paging">
                        <button class="previous hidden"><i class="fa fa-angle-double-left"></i></button>
                        <button class="next hidden"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </section>
            <section id="myRooms">
                <div class="rooms-head">
                    <h3>My Room</h3>
                </div>
                <div class="rooms">
                    <div class="paging">
                        <button class="previous hidden"><i class="fa fa-angle-double-left"></i></button>
                        <button class="next hidden"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </section>
            <section id="inRooms">
                <div class="rooms-head">
                    <h3>In Room</h3>
                </div>
                <div class="rooms">
                    <div class="paging">
                        <button class="previous hidden"><i class="fa fa-angle-double-left"></i></button>
                        <button class="next hidden"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </section>
        </main>
        <footer>
        </footer>
    </main>
</body>
<script src="/public/js/room/room.js"></script>
<script src="/public/js/util/lib.js"></script>
<script src="/public/js/util/topNav.js"></script>

</html>