<html>

<head>
    <title>Kilem Midi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/logo/favicon.png" type="image/x-icon">
    <link href="/public/css/util/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/default.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/sign.css" rel="stylesheet" type="text/css">
    <script src="/public/js/util/jquery-min-3.5.1.js"></script>
</head>

<body>
    <main class="wrapper">
        <header class="main-header">
            <section class="container">
                <img class="logo-img" src="/public/logo/favicon.png" />
                <div class="form">
                    <ul class="tab-group">
                        <li class="tab active"><a href="#signup">Sign Up</a></li>
                        <li class="tab"><a href="#signin">Sign In</a></li>
                    </ul>
                    <div class="tab-content">
                        <section id="signup">
                            <input type="email" placeholder="Email Address" required autocomplete="off" />
                            <input type="text" placeholder="Username" required autocomplete="off" />
                            <input type="password" placeholder="Set A Password" required autocomplete="off" />
                            <button type="submit" class="button button-block">Get Started</button>
                        </section>
                        <section id="signin">
                            <input type="email" placeholder="Email Address" required autocomplete="off" />
                            <input type="password" placeholder="Set A Password" required autocomplete="off" />
                            <button type="submit" class="button button-block">Sign In</button>
                        </section>
                    </div>
                </section>
        </header>
    </main>
</body>
<script src="/public/js/sign/sign.js"></script>

</html>