<html>

<head>
    <title>Kilem Midi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/logo/favicon.png" type="image/x-icon">
    <link href="/public/css/util/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/default.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/welcome.css" rel="stylesheet" type="text/css">
    <link href="/public/css/pages/sign.css" rel="stylesheet" type="text/css">
    <script src="/public/js/util/jquery-min-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
</head>

<body>
    <main class="wrapper">
        <nav class="top-nav">
            <div id="navLogo" class="nav-logo">
                <img src="/public/logo/logo.png" />
                <span>Kilem Midi</span>
            </div>
        </nav>
        <header class="main-header">
            <div class="container welcome">
                <div class="primary">
                    <h1 class="welcome-title">加入Kilem Midi<br>
                        體驗協同製作音樂</h1>
                </div>
                <div class="sign-content">
                    <div class="form">
                        <ul class="tab-group">
                            <li class="tab active"><a href="#signin">Sign In</a></li>
                            <li class="tab"><a href="#signup">Sign Up</a></li>
                        </ul>
                        <div class="tab-content">
                            <section id="signin">
                                <input type="email" class="email" placeholder="Email Address" required
                                    autocomplete="off" />
                                <input type="password" class="password" placeholder="Set A Password" required
                                    autocomplete="off" />
                                <button id="nativeSignin" type="submit" class="button button-block">Sign In</button>
                                <button id="googleSignin" class="google-button button-block"><img
                                        src="/public/img/signlogo/g-logo.png"><span>Sign In with Google</span></button>
                            </section>
                            <section id="signup">
                                <input type="email" class="email" placeholder="Email Address" required
                                    autocomplete="off" />
                                <input type="text" class="username" placeholder="Username" required
                                    autocomplete="off" />
                                <input type="password" class="password" placeholder="Set A Password" required
                                    autocomplete="off" />
                                <button id="nativeSignup" type="submit" class="button button-block">Get Started</button>
                                <button id="googleSignup" class="google-button button-block"><img
                                        src="/public/img/signlogo/g-logo.png"><span>Continue with Google</span></button>
                            </section>
                        </div>
                    </div>
                </div>
        </header>
    </main>
</body>
<script src="/public/js/welcome/welcome.js"></script>
<script src="/public/js/sign/sign.js"></script>
<script src="/public/js/util/lib.js"></script>

</html>