
.midi-header{
    display: flex;
    height: 50px;
}

.midi-toolbox{
    padding: 10px;
    height: 50px;
}

.midi-tool{
    padding: 10px;
    height: 50px;
    cursor: pointer;
}

.panel-track-name{
    padding: 10px;
}

.midi-panel{
    display: flex;
    flex-direction: column;
    background-color: #333940;
    height: 40%;
    min-height: 300px;
}

.panel-content{
    display: flex;
    min-height: calc(100% - 50px);
}

.panel-info{
    min-width: 250px;
}

.panel-editor{
    height: 100%; 
    overflow: hidden;
}

.keys-and-grid{
    position: relative;
    display: flex;
    height: 100%; 
    overflow-y: scroll;
    overflow-x: scroll;
    border: #AAAAAA solid 1px;
}

.keys{
    position: sticky;
    min-width: 50px;
    left: 0px;
    z-index: 10;
}

.key{
    cursor: pointer;
}

.key:hover{
    background-color: #9b9b9b;
}

.white-key {
    height: 20px;
    background-color: white;
    z-index: 3;
    border-top: 1px solid #d2d2d2;
    border-radius: 0 4px 4px 0;
    line-height: 17px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
    color: #9b9b9b;
}

.black-key {
    float: left;
    margin-top: -5.5px;
    height: 11px;
    width: 50%;
    z-index: 4;
    background-color: #555555;
    border-radius: 0 4px 4px 0;
}

.grids{
    position: absolute;
    position: relative;
    left: 0px;

    
    flex: auto;
}

.svgGrids{
    position: absolute;
    top: -1px;
}

.note{
    position: absolute;
    z-index: 5;
    background-color: steelblue; 
    border: #123123 solid 1px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.playhead{
    will-change: transform;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2px;
    background-color: #FFBB66;
    height: 100%;
}

.midi-playhead{
    left: 50px;
}