*{
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
}

.wrapper{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.main-header{
    height: 100vh;
    background-color: #37393A;
}

.main-footer{
    height: 300px;   
}

.main-content{
    flex: auto;
    width: 100%;
    flex: auto;
}