*{
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-header{
    width: 100%;
}

.container{
    padding-right: 1em;
    padding-left: 1em; 
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.main-footer{
    height: 300px;   
}

.main-content{
    width: 100%;
}

/* top nav */
.top-nav{
    background-color: rgb(27, 27, 29); 
    display: flex;
    align-items: center;
    height: 3.5em;
    width: 100%;
    padding: 0 1.2em;
    position: fixed;
    top: 0;
    justify-content: space-between;
    z-index: 10;
}

.nav-logo{
    height: 2em;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.nav-logo span{
    margin-left: 10px;
    font-size: 1.3em;
}

.nav-logo img{
    height: 100%;
}

.nav-tool{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-profile{
    font-size: 1.1em;
    cursor: pointer;
}