a{
    text-decoration: none;
    color:inherit;
}

.wrapper{
    padding-top: 3.5em;
    color: black;
}

.main-header{
    height: calc(55vh - 3.5em);
    max-height: 700px;
    background-color: #37393A;
    min-height: 250px;
}

.header-content{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.main-header .intro{
    width: 50%;
}

.main-header .create-room{
    height: 100%;
    padding: 20px;
    width: 50%;
}

.rooms {
    position: relative;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
  }

.room {
    margin: 15px; 
    min-width: 150px;
    width: calc((100% / 4) - 30px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button{
    outline: none;
    background: #00A15C;
    padding: 5px 10px;
    color: inherit;
    border: 1px #AAAAAA solid;
    cursor: pointer;
    border-radius: 2px;
}

.logout{
    margin-left: 20px;
}

.room:hover .room__inner {
    background-color: #1abc9c;
    transform: scale(1.05);
}

.room__inner {
    width: 100%;
    padding: 1.5em;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.room__inner:after {
    transition: all 0.3s ease-in-out;
}
.room__inner .fa {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 10%;
    margin-top: 0.25em;
}

.room__expander {
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #eceef1;
    font-size: 1.1em;
    padding: 15px;
}

.line{
    display: flex;
    margin-bottom: 10px; 
}

.line-first{
    text-align: right;
    display: block;
    width: 50%;
    margin-right: 15px
}
.line-second{
    flex: auto;
}

.room .intro{
    width: 100%;
    min-height: 100px;
    border: 1px white solid;
    word-break: break-all;
    padding: 10px;
}

.room__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.room .control{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control .button{
    display: block;
    width: 30%;
}


.control .button:only-child{
    margin: 0 auto;
    width: 100%;
}

.room__expander .fa:hover {
    opacity: 0.9;
}
.room.is-collapsed .room__inner:after {
    content: "";
    opacity: 0;
}
.room.is-collapsed .room__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}
.room.is-expanded .room__inner {
    background-color: #00A15C;
}
.room.is-expanded .room__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
}
.room.is-expanded .room__inner .fa:before {
    content: "\f115";
}
.room.is-expanded .room__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}
.room.is-expanded:hover .room__inner {
    transform: scale(1);
}
.room.is-inactive .room__inner {
   
    opacity: 0.5;
}
.room.is-inactive:hover .room__inner {
    background-color: #949fb0;
    transform: scale(1);
}

footer{
    margin-top: auto;
    height: 300px;
    padding: 20px 0;
    background: #333a45;
}

.paging{
    width: 100%;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 50px;
    height: 30px;
}

.previous{
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 5;
}

.next{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 5;
}

.hidden{
    display: none;
}