.top-nav{
    background: none;
}

.wrapper{
    color: #FFFFFF;
    background-color: #37393A; 
}

.main-header{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-image: url("/public//img/page/homepage.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav{
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-nav span{
    font-size: 2em;
}

.welcome{
    display: flex;
    flex: auto
}

.primary{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.welcome-logo{
    width: 3em;
    height: 3em;
    margin-right: 10px;
}

.welcome-title{
    font-size: 3em;
}