.wrapper{
    color: #FFFFFF;
    background-color: #37393A;
}

.main-header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-nav{
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-nav span{
    font-size: 2em;
}

.welcome{
    display: flex;
    flex: auto
}

.primary{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.welcome-logo{
    width: 3em;
    height: 3em;
    margin-right: 10px;
}

.welcome-title{
    font-size: 3em;
}