.chatroom{
    position: absolute;
    width: 20%;
    height: 30%;
    min-width: 300px;
    min-height: 400px;
    padding: 10px;
    padding-left: 20px;
    bottom: 59px;
    right: 20px;
    background-color: #333940;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    color: inherit;
    z-index: 500;
}

.chat-container{
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.chat-input{
    width: 100%;
    height: 30px;
    display: flex;
}

.chat-input-space{
    height: 100%;
    flex: auto;
}

.chat-send-button{
    height: 100%;
    width: 50px;
    background: #FFF;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-left: 5px;
}

.chat-msg{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.chat-user{
    min-width: 40px;
    padding-right: 20px;
    padding-left: 5px;
}

.chat-mine{
    text-align: right;
}

.chat-content{
    margin-right: 20px;
    padding: 10px;
    word-break: break-all;
    align-self: flex-start;
    cursor: pointer;
    background: #1E88E5;
    border-radius: 0 5px 5px 0;
}
.content-mine{
    align-self: flex-end;
    border-radius: 5px 0 0 5px;
}

.chatroom textarea {
    padding-top: 5px;
    padding-left: 10px;
    resize: none;
  }