div,
section,
header,
footer,
a{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin:5px 0 5px 0;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(219,219,219);
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #FFFFFF;
}

.editor{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
}

.editor-header{
    padding: 10px 0;
    background-color: #333940;
    border-bottom: #888888 solid 1px; 
}

.editor-title{
    display: flex;
    position: relative;
    padding : 5px 10px;
    height : 20px;
}

.file-title{
    position: absolute;
    text-align: center;
    width: 200px;
    left: calc( 50% - 100px);
}

.exit{
    margin-left: auto;
    cursor: pointer;
}

.editor-toolbox{
    display: flex;
    padding: 5px 10px;
}

.tool{
    margin-left: 10px;
    display: inline-block;
    width: 50px;
    background-color: #555555;
    cursor: pointer;
    text-align: center;
}

.selected{
    background-color: #444444; 
}

.editor-body{
    background-color: #333940;
    display: flex;
    flex-grow: 1;
}

.ruler{ 
    height: 50px;
    border-bottom: #888888 solid 1px; 
}

.ruler-title{
    position: relative;
    height: 25px;
    
}

.ruler-control{
    background-color: #23242d;
    height: 25px;

}

.scale{
    position: absolute;
}

.control-button{
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.editor-footer{
    display: flex;
    background-color: #333940;
    margin-top: auto;
    padding: 10px;
    height: 45px;
    align-items: center;
    border-top: #AAAAAA solid 1px;
}

.region-playhead{
    left: 0px;
    height: 100%;
}