.hidden{
    display: none;
}

.selected{
    background-color: rgba(70,76,83,0.5); 
}

.notify{
    background-color: rgb(207, 151, 47);
}

.active{
    background-color: #00A15C;
}

.hover{
    color: #BCBCBC;
}

.editable:hover,
.editable:focus{
    background: #565656;
}