.tracks-title{
    min-width:300px;
    background-color: #23242d;
}

.tracks-control{
    border-right: #888888 solid 1px; 
    border-bottom: #888888 solid 1px; 
    background-color: #333940;
    padding: 5px 10px;
    height: 50px;
    display: flex;
    vertical-align: middle;
}

.add-track,
.delete-track{
    cursor: pointer;
    width: 30px;
    margin-right: 5px;
    text-align: center;
}

.tracks-content{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.track{
    height: 100px;
    padding: 10px;
    border-right: #888888 solid 1px; 
    border-bottom: #888888 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.tracks-region{
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    margin-right : 20px;
}

.track-lock{
    width: 20px;
    cursor: pointer;
}

.track-info{
    display: flex;
    margin-left: 30px;
}

.version-control{
    display: flex;
    margin-top: auto;
}

.version-select{
    flex:auto;
}

.region{
    height: 100px;
    border-bottom: #888888 solid 1px;
    border-right: #888888 solid 1px;
    width: 100%;
}

.region-content{
    position: relative;
    flex:auto;
}