.tracks-title{
    min-width:300px;
    background-color: #23242d;
}

.tracks-control{
    border-right: #888888 solid 1px; 
    border-bottom: #888888 solid 1px; 
    background-color: #333940;
    padding: 5px 20px;
    height: 50px;
    display: flex;
    vertical-align: middle;
}

.add-track,
.delete-track{
    cursor: pointer;
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.tracks-content{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.track{
    height: 100px;
    padding: 10px;
    border-right: #888888 solid 1px; 
    border-bottom: #888888 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.tracks-region{
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    margin-right : 20px;
}

.track-name{
    color: inherit;
    text-align: center;
    background: inherit;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    width: 7em;
    margin-right: 20px;
}

.lock-icon{
    width: 1em;
    cursor: pointer;
}

.track-name.editable:focus{
    background: #565656;
}

.track-name.editable:hover{
    background: #565656;
}

.track-info{
    display: flex;
    margin-left: 25px;
}

.version-control{
    display: flex;
    margin-top: auto;
    padding: 5px 15px;
    padding-left: 20px;
}

.version-select{
    flex:auto;
    padding-left: 20px;
    margin-right: 5px;
}


.version-commit{
    width: 75px;
    background: #1E88E5;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
}

.region{
    position: relative;
    padding: 5px;
    height: 100px;
    border-bottom: #888888 solid 1px;
    border-right: #888888 solid 1px;
}

.region-content{
    position: relative;
    flex:auto;
}

.regionNote{
    position: absolute;
    z-index: 5;
    background-color: #FFFFFF; 
    border-right: #000000 solid 1px;
    border-left: #000000 solid 1px;
}

.instrument{   
    height: 100%;
}

img.icon{
    height: 20px;
    margin-right: 15px;
}

.instrument-selector{
    display: inline-block;
    height: 100%;
    padding-left: 5px;
}